{% extends '../base.html' %}
{% load user_extras %}
{% load static %}
{% block content %}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualizar Expediente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form id="form_registro_expediente" enctype="multipart/form-data">

                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input class="form-control" id="id_document" type="hidden">
                                    <label for="ccmonth">Documento</label>
                                    <select class="form-control" id="id_type_document">
                                        <option>Seleccionar</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="name">Numero</label>
                                    <input class="form-control" id="doc_number" type="text" placeholder="Numero">
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="name">Folios</label>
                                    <input class="form-control" id="doc_pages" type="text" placeholder="Folios">
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="name">Dni</label>
                                    <input class="form-control" id="per_dni" type="text" placeholder="Dni">
                                    <input class="form-control" id="id_person" type="hidden">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Administrado</label>
                                    <input class="form-control" id="id_nombre" type="text" placeholder="Administrado">
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Tupa</label>
                                    <input class="form-control" id="id_tupa" type="hidden"
                                           placeholder="Enter your name">
                                    <input class="form-control" id="id_tupa_description" type="text"
                                           placeholder="Enter your name">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Asunto</label>
                                    <input class="form-control" id="doc_tupa" type="text" placeholder="Asunto">
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Oficina Destino</label>
                                    <input class="form-control" id="id_nombre_destino" type="text"
                                           placeholder="Enter your name">
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="id_file_expediente" lang="es">
                                        <label class="custom-file-label" for="id_file_expediente">Seleccionar
                                            Archivo</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <!--<label for="ccmonth">Documento</label> -->
                                    <input class="form-control" id="doc_type" type="hidden" value="3"
                                           placeholder="Enter your name">


                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <button type="button" id="btn_registrar_expediente"
                                            class="btn btn-primary btn-lg btn-block">Actualizar Expediente
                                    </button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Modal-->
    <div class="card">
    <div class="card-header">
        <i class="fa fa-edit"></i> DataTables
        <div class="card-header-actions">
            <button class="btn btn-danger" id="id_open_modal">Click</button>
            <a class="card-header-action" href="https://datatables.net" target="_blank">
                <small class="text-muted">docs</small>
            </a>
        </div>
    </div>
    <div class="card-body">

        <div class="container-fluid">
            <table id="list-persona" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>


                    <th>#</th>
                    <th>c.</th>
                    <th>n°Doc</th>
                    <th>F.</th>
                    <th>Tupa</th>
                    <th>Administrado</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>F.Regitro</th>
                    <th>Editar/ver</th>
                    <th></th>


                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'jsT/jquery.dataTables.js' %}"></script>
    <script src="{% static 'jsT/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'jsT/datatables.js' %}"></script>
    <script src="{% static 'jsT/editExpediente.js' %}"></script>
    <!--<script src="{% static 'jsT/enviadosAdm.js' %}"></script>-->
    <script src="{% static 'jsT/dataTables.checkboxes.min.js' %} "></script>

    <script>
        var dataset = [];
        {% if documentos %}
            {% for document in documentos %}

                dataset.push({
                    id: "{{document.id}}",
                    doc_number: "{{document.doc_number}}",
                    doc_exp_number: "{{document.doc_exp_number}}",
                    doc_pages: "{{document.doc_pages}}",
                    id_tupa: "{{document.id_tupa}}",
                    id_person: "{{document.id_person}}",
                    doc_begin: "{{document.doc_begin}}",
                    doc_des: "{{document.doc_des}}",
                    created: "{{document.created}}"
                });
                //console.log("{{vou}}");

            {% endfor%}

        {% else %}

        {%endif%}



        $(document).ready(function () {


            var table = $('#list-persona').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
                ,
                {#dom: "Bfrtip",#}
                "data": dataset,
                "aoColumns": [
                    {"data": "id"},
                    {"data": "doc_exp_number"},
                    {"data": "doc_number"},
                    {"data": "doc_pages"},
                    {"data": "id_tupa"},
                    {"data": "id_person"},
                    {"data": "doc_begin"},
                    {"data": "doc_des"},
                    {"data": "created"},


                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": '<a class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat" href="#"><i class="fa fa-edit"></i></a>    <a class="btn btn-success" href="#"><i class="fa fa-search-plus"></i></a>'
                    },

                    {
                        //"sTitle": "<input type='checkbox' id='selectall' ></input>",
                        //"mDataProp": null,
                        //"sWidth": "40px",
                        //"sDefaultContent": "<input type='checkbox' class='case' value='id'></input>",
                        //"bSortable": false,
                        "targets": 10,
                        'checkboxes': {'selectRow': true},
                        "data": null
                        //"defaultContent": '<button class="btn btn-outline-primary btn-sm"><i class="fa fa-eye"></i> Ver</button>'
                    }

                ],
                'select': {
                    'style': 'multi'
                }
                ,
                "pageLength": 10,
                "lengthMenu": false,
                "bLengthChange": false,
            });


            $('#list-persona tbody').on('click', 'a.btn.btn-info', function () {
                var data = table.row($(this).parents('tr')).data();
                $('#exampleModal').show();
                get_data_document(data.id);
            });

            $('#list-persona tbody').on('click', 'a.btn.btn-success', function () {
                var data = table.row($(this).parents('tr')).data();
                window.open(path + "/HojaTramite/" + data.id + "/");
            });


            $('#id_open_modal').click(function () {

                var rows = $(table.rows({
                    selected: true
                }).$('input[type="checkbox"]').map(function () {

                    if($(this).prop("checked")){
                        var r=table.row($(this).parents('tr')).data();
                        console.log(r);
                    }
                }));


            });


        });
    </script>
{% endblock %}