{% extends '../base.html' %}
{% load user_extras %}
{% load static %}
{% block content %}
    <div class="modal fade" id="modalConformidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Registro de Persona</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--                   -->


                    <div class="card" id="cardConformidad">
                        <div class="card-header">  <h5 align="center">Cargo de Conformidad - <strong id="id_ambiente"></strong></h5>

                            <a class="btn btn-sm btn-secondary float-right mr-1 d-print-none" id="imprimirConformidad"
                               href="#" onclick="">
                                <i class="fa fa-print"></i> Print</a>
                            <a class="btn btn-sm btn-info float-right mr-1 d-print-none" href="#">
                                <i class="fa fa-save"></i> Save</a>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <table id="list-conformidad-imprimir" class="table table-striped table-bordered"
                                       style="width:100%">
                                    <thead>
                                    <tr>

                                        <th>c.</th>
                                        <th>nD.</th>
                                        <th>F.</th>
                                        <th>Tupa</th>
                                        <th>Administrado</th>
                                        <th>Origen</th>
                                        <th>Destino</th>
                                        <th>F.</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <h6 align="left"><strong>     Fecha y Hora:______________Recepcionista:_______________________________________</strong></h6>
                    </div>

                </div>
                <!--                   -->

            </div>
        </div>
    </div>







    <div class="card">
    <div class="card-header">
        <i class="fa fa-edit"></i> DataTables
        <div class="card-header-actions">
            <a class="card-header-action" href="https://datatables.net" target="_blank">
                <small class="text-muted">docs</small>
            </a>
        </div>
    </div>
    <div class="card-body">

        <div class="container-fluid">
            <table id="list-conformidad" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Destino</th>
                    <th>F.Regitro</th>
                    <th>Editar/ver</th>


                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'jsT/jquery.dataTables.js' %}"></script>
    <script src="{% static 'jsT/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'jsT/datatables.js' %}"></script>
    <!--<script src="{% static 'jsT/enviadosAdm.js' %}"></script>-->

    <script>
        var dataset = [];
        var path = "http://127.0.0.1:8000";
        var ambiente="";
        var datasett = new Array;

        {% if documentos %}

            {% for document in documentos %}

                dataset.push({
                    id: "{{ forloop.counter }}",
                    doc_des: "{{document}}",
                    date: "{{date}}",

                });
                //console.log("{{document}}");
            {% endfor%}

        {% else %}

        {%endif%}



        $(document).ready(function () {

            var datatable = $('#list-conformidad-imprimir').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                {#dom: "Bfrtip",#}
                "data": datasett,

                "order": [[0, "desc"]],
                "pageLength": 30,
                "lengthMenu": false,
                "bLengthChange": false,
                select: true
            });


            var table = $('#list-conformidad').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                {#dom: "Bfrtip",#}
                "data": dataset,
                "aoColumns": [
                    {"data": "id"},
                    {"data": "doc_des"},
                    {"data": "date"},


                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": '<a class="btn btn-info" href="#"><i class="fa fa-edit"></i></a>    <a class="btn btn-success" href="#"><i class="fa fa-search-plus"></i></a>'
                    }
                ],
                "order": [[0, "desc"]],
                "pageLength": 10,
                "lengthMenu": false,
                "bLengthChange": false,
                select: true
            });
            $('#imprimirConformidad').click(function (e) {


                $('#cardConformidad').printThis();
            });


            function get_id_office(office, date) {
                var id_office;
                $.ajax({
                    url: path + "/get_id_office/" + office + "/" + date + "/",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        //console.log(data.data);
                        var dataSet = new Array;
                        $.each(data.data, function (index, value) {
                            var tempArray = new Array;
                            for (var o in value) {
                                if(o=="doc_des"){
                                    ambiente=value.doc_des;
                                }

                                tempArray.push(value[o]);
                            }
                            dataSet.push(tempArray);
                        });

                        datatable.clear().draw();
                        datatable.rows.add(dataSet); // Add new data
                        datatable.columns.adjust().draw(); //


                    }
                });

            }


            $('#list-conformidad tbody').on('click', 'a.btn.btn-info', function () {
                var data = table.row($(this).parents('tr')).data();
                //console.log(data);
                $('#id_ambiente').text(ambiente);
                get_id_office(data.doc_des, data.date);
                var date_document = data.date;

                //get_document_date(id_ofi, data.date);

                $('#modalConformidad').modal('show');
            });

            $('#list-conformidad tbody').on('click', 'button.btn-outline-primary', function () {
                var data = table.row($(this).parents('tr')).data();
                //get_document_date(data.id,data.date);
                //console.log(data.id);
            });

            $('#button-pay').click(function (e) {
                e.preventDefault();
                var id = parseInt($("#id_pay").val());
                var voucher = parseInt($("#voucher").val());
                var csrf_pay = $('#pay_concession input[name=csrfmiddlewaretoken]').val();
                var price_point = parseInt($("#price").val());
                console.log(csrf_pay);
                var datos;
                datos = {
                    csrfmiddlewaretoken: csrf_pay,
                    id: id,
                    vouch: voucher,
                    price_point: price_point,
                    price_water: 0,
                    price_energy: 0

                };
                $.ajax({
                    url: "http://127.0.0.1:8000/api/VoucherDetail/" + voucher + "/",
                    type: "PUT",
                    dataType: "json",
                    data: datos,
                    success: function (data) {

                        alert("éxito!!1");
                    }
                });
            });


        });
    </script>
{% endblock %}