{% extends '../base.html' %}
{% load user_extras %}
{% load static %}



{% block content %}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registro de Persona</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="registro_persona">

                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Nombres</label>
                                    <input class="form-control" id="per_name" name="per_name" type="text"
                                           placeholder="Nombres">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Apellidos</label>
                                    <input class="form-control" id="per_lastname" name="per_lastname" type="text"
                                           placeholder="Apellidos">
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="ccmonth">Tipo/Doc</label>
                                    <select class="form-control" id="id_doc" name="id_doc" required>
                                        <option value="">seleccionar</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="name">Numero</label>
                                    <input class="form-control" id="per_doc" name="per_doc" type="text"
                                           placeholder="Numero">
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="name">Departamento</label>
                                    <select class="form-control" id="id_departamento" name="id_departamento" required>
                                        <option value="">Seleccionar</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="name">Provincia</label>
                                    <select class="form-control" id="id_provincia" name="id_provincia" required>
                                        <option value="">Seleccionar</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Distrito</label>
                                    <select class="form-control" id="id_distrito" name="id_distrito" required>
                                        <option value="">Seleccionar</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Celular</label>
                                    <input class="form-control" id="per_cellphone" name="per_cellphone" type="text"
                                           placeholder="Numero de Celular">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Tipo/persona</label>
                                    <select class="form-control" id="per_type" name="per_type">
                                        <option value="0">Persona Natural</option>
                                        <option value="1">Persona Juridica</option>
                                    </select>
                                </div>
                            </div>


                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" id="btn_registrar" class="btn btn-primary">Registrar</button>
                </div>
                </form>

            </div>
        </div>
    </div>
    <div class="chart-wrapper maverick" style="height:500px;margin-top:40px;">
        <div class="card">
            <div class="card-header">
                <strong>Registro de Expedientes</strong>


                <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                        data-target="#exampleModal"
                        data-whatever="@fat">
                    Registro de Personas
                </button>
            </div>
            <div class="card-body">
                <form id="form_registro_expediente" enctype="multipart/form-data">

                {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="ccmonth">Documento</label>
                                <select class="form-control" id="id_type_document">
                                    <option>Seleccionar</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="name">Numero</label>
                                <input class="form-control" id="doc_number" type="text" placeholder="Numero">
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="name">Folios</label>
                                <input class="form-control" id="doc_pages" type="text" placeholder="Folios">
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="name">Dni</label>
                                <input class="form-control" id="per_dni" type="text" placeholder="Dni">
                                <input class="form-control" id="id_person" type="hidden">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="name">Administrado</label>
                                <input class="form-control" id="id_nombre" type="text" placeholder="Administrado">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="name">Asunto</label>
                                <input class="form-control" id="doc_tupa" type="text" placeholder="Asunto">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="name">Tupa</label>
                                <input class="form-control" id="id_tupa" type="hidden" placeholder="Enter your name">
                                <input class="form-control" id="id_tupa_description" type="text"
                                       placeholder="Enter your name">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="name">Oficina Destino</label>
                                <input class="form-control" id="id_nombre_destino" type="text"
                                       placeholder="Enter your name">
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="id_file_expediente" lang="es">
                                    <label class="custom-file-label" for="id_file_expediente">Seleccionar
                                        Archivo</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <!--<label for="ccmonth">Documento</label> -->
                                <select class="form-control" id="doc_type">
                                    <option >Seleccionar Tipo de Documento</option>
                                    <option value="1">Documento Externo</option>
                                    <option value="2">Documento Interno</option>
                                    <option value="3">Proveidos(documento para enviar otros documentos)</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">

                                <button type="button" id="btn_registrar_expediente"
                                        class="btn btn-primary btn-lg btn-block">Registrar Expediente
                                </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'jsT/expedienteAdm.js' %}"></script>
{% endblock %}